# <h1 align="center" color="red"><span style="color: red;">Day 01- Kick start 26/5/2022</span></h1>

# <span style="color: green;">First python code</span>

In [3]:
print("Hello world")

Hello world

# <span style="color: green;">Data types</span>

In [38]:
#Numerical data types
a=1;                                                     print(a,"   ",type(a))

b=1.0;                                                   print(b,"   ",type(b))

c=10 > 5;                                                print(c,"   ",type(c))

d=5+5j;                                                  print(d,"   ",type(d))

 
#text data types    
e="555";                                                 print(e,"   ",type(e))

                                                       
#container data types
f=[1,1.0,"cat",45];                                      print(f,"   ",type(f))
                                                         #list has comma seprated values within [] &values can be anything
                                                         #list order index start with 0 and end with -1
g=(1,1.0,"cat",45);                                      print(g,"   ",type(g))
                                                         #tuple is read only ordered list & comma seperated values within ()
h={1,25,"cat",45};                                       print(h,"   ",type(h))
                                                         #set has unordered comma seperated nonduplicate values within {}
i={"maths":45,"physics":56,"chemistry":89};              print(i,"   ",type(i))
                                                         #dictionary is a unorederd key-value pairs comma seperated values within {}

1     <class 'int'>
1.0     <class 'float'>
True     <class 'bool'>
(5+5j)     <class 'complex'>
555     <class 'str'>
[1, 1.0, 'cat', 45]     <class 'list'>
(1, 1.0, 'cat', 45)     <class 'tuple'>
{'cat', 1, 45, 25}     <class 'set'>
{'maths': 45, 'physics': 56, 'chemistry': 89}     <class 'dict'>

# <span style="color: green;">String operation</span>

In [57]:
a="abcdefghijklm"
print(a[0])#print first character
print(a[-1])#print last character
print(a[2:5])#print 2 nd index to 4 th index
print(a[2:])#print from 2 nd index
print(a[:2])#print from 1 right to left
print(a[-2:])#print from -2th index
print(a[:-2])#print from -3th index
print(a+"nopqrst")#concatenation
print(a*2)#replicant
print(len(a))#number of characters
print(str.upper(a))#upper case
print("c" in a)#character checking
print("b" not in a)#charater checking
print("My name is %s and I am %d years old!" % ('Fathir', 23)) #place holder %s for string and %d for integer

a
m
cde
cdefghijklm
ab
lm
abcdefghijk
abcdefghijklmnopqrst
abcdefghijklmabcdefghijklm
13
ABCDEFGHIJKLM
True
False
My name is Fathir and I am 23 years old!

# <span style="color: green;">List operation</span>

In [70]:
a = ["apple", "orange", 2000, 69.6]
a.append(69);print(a)#add values
a.remove(69.6);print(a)#drop values
data = [[1,1,1], [2,2,2], [3,3,3]]#multi dimencional list
data[1][1] = 25;print(data)#update list (updating not possible in list)
len(data)#number of values
print(["Hi"] * 4)#replication
print(a+data)#concatenation
print(2000 in a)#membership

['apple', 'orange', 2000, 69.6, 69]
['apple', 'orange', 2000, 69]
[[1, 1, 1], [2, 25, 2], [3, 3, 3]]
['Hi', 'Hi', 'Hi', 'Hi']
['apple', 'orange', 2000, 69, [1, 1, 1], [2, 25, 2], [3, 3, 3]]
True

# <span style="color: green;">Set operation</span>

In [72]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange','banana'};print(basket)
basket.add('grapes');print(basket)#add element

{'banana', 'pear', 'apple', 'orange'}
{'pear', 'apple', 'orange', 'grapes', 'banana'}