# <h1 align="center" color="red"><span style="color: red;">Day 01- Kick start python Basic data types and operations</span></h1>

# <span style="color: green;">First python code</span>

In [3]:
print("Hello world")

Hello world

# <span style="color: green;">Data types</span>

In [38]:
#Numerical data types
a=1;                                                     print(a,"   ",type(a))

b=1.0;                                                   print(b,"   ",type(b))

c=10 > 5;                                                print(c,"   ",type(c))

d=5+5j;                                                  print(d,"   ",type(d))

 
#text data types    
e="555";                                                 print(e,"   ",type(e))

                                                       
#container data types
f=[1,1.0,"cat",45];                                      print(f,"   ",type(f))
                                                         #list has comma seprated values within [] &values can be anything
                                                         #list order index start with 0 and end with -1
g=(1,1.0,"cat",45);                                      print(g,"   ",type(g))
                                                         #tuple is read only ordered list & comma seperated values within ()
h={1,25,"cat",45};                                       print(h,"   ",type(h))
                                                         #set has unordered comma seperated nonduplicate values within {}
i={"maths":45,"physics":56,"chemistry":89};              print(i,"   ",type(i))
                                                         #dictionary is a unorederd key-value pairs comma seperated values within {}

1     <class 'int'>
1.0     <class 'float'>
True     <class 'bool'>
(5+5j)     <class 'complex'>
555     <class 'str'>
[1, 1.0, 'cat', 45]     <class 'list'>
(1, 1.0, 'cat', 45)     <class 'tuple'>
{'cat', 1, 45, 25}     <class 'set'>
{'maths': 45, 'physics': 56, 'chemistry': 89}     <class 'dict'>

# <span style="color: green;">String operation</span>

In [72]:
a="abcdefghijklm"
print(a[0])#print first character
print(a[-1])#print last character
print(a[2:5])#print 2 nd index to 4 th index
print(a[2:])#print from 2 nd index
print(a[:2])#print from 1 right to left
print(a[-2:])#print from -2th index
print(a[:-2])#print from -3th index
print(a+"nopqrst")#concatenation
print(a*2)#replicant
print(len(a))#number of characters
print(str.upper(a))#upper case
print("c" in a)#character checking
print("b" not in a)#charater checking
print("My name is %s and I am %d years old!" % ('Fathir', 23)) #place holder %s for string and %d for integer
print("Hello world\nPython programming\t is easy to learn")#\n for new line and \t for tab
print(ord('a'))#convert character into Ascii unicode
print(chr(97))#convert Ascii unicode into character

a
m
cde
cdefghijklm
ab
lm
abcdefghijk
abcdefghijklmnopqrst
abcdefghijklmabcdefghijklm
13
ABCDEFGHIJKLM
True
False
My name is Fathir and I am 23 years old!
Hello world
Python programming	 is easy to learn
97
a

# <span style="color: green;">List operation</span>

In [14]:
a = ["apple", "orange", 2000, 69.6]
a.append(69);print(a)#add values
a.remove(69.6);print(a)#drop values
data = [[1,1,1], [2,2,2], [3,3,3]]#multi dimencional list
data[1][1] = 25;print(data)#update list (updating not possible in list)
len(data)#number of values
print(["Hi"] * 4)#replication
print(a+data)#concatenation
print(2000 in a)#membership

print("\n")

word="apple orange grapes"
print(word.split())#this will split string into list split(seperator) #space is default seperator
word="apple,orange,grapes"
print(word.split(","))
word="apple,orange,grapes,banana"
print(word.split(",",1))#split(seperator,number of split)#there is only one split

['apple', 'orange', 2000, 69.6, 69]
['apple', 'orange', 2000, 69]
[[1, 1, 1], [2, 25, 2], [3, 3, 3]]
['Hi', 'Hi', 'Hi', 'Hi']
['apple', 'orange', 2000, 69, [1, 1, 1], [2, 25, 2], [3, 3, 3]]
True


['apple', 'orange', 'grapes']
['apple', 'orange', 'grapes']
['apple', 'orange,grapes,banana']

# <span style="color: green;">Set operation</span>

In [40]:
a={"a","b","c","d","d"};print(a)#creating a set #duplicate will be automatically ignored
b=set(("p","q","r","s"));print(b)#another way of creating a set
a = set('abracadabra');print(a)#convert a string characters in to a set
print("A" in a)#membership testing
print("A" not in a)#membership testing
a.add("e");print(a)#add new elements
b.clear();print(b)#WARNING-it will delete all elements in the set and create an empty set
copy_a=a.copy();print(copy_a)#create a copy of a set

print("\n")

x={"a","b","c","d","e"};y={"c","b"};z={"c","d"}
print(x.difference(y))#x only from x,y
print(x-y)#alt of line 12
print(x.difference(y).difference(z))#x only from x,y,z
print(x-y-z)#alt of line 14
x.difference_update(y);print(x)#same as x=x-y
y.discard("b");print(y)#remove "b" from set y
y.discard("B");print(y)# if element not in the set nothing will happen
z.remove("d")##remove "d" from set z  # if element not in the set generate error(key error)

print("\n")

set_1={"a","b","c","d","e"};set_2={"c","d","e","f","g"}
print(set_1.intersection(set_2))#intersection
print(set_1&set_2)#intersection
print(set_1.isdisjoint(set_2))#check mutually exclusive or not
set_3={1,2};set_4={1,2,3};print(set_3.issubset(set_4))#check subset or not
print(set_3<=set_4)#check subset or not
print(set_3<set_4)#check proper subset or not
print(set_3>=set_4)#check superset or not

print("\n")

a = set('abracadabra');b = set('alacazam');print(a);print(b)#convert a string characters in to a set
print(a-b)#a only
print(a&b)#intersection
print(a.intersection(b))#intersection
print(a|b)#union
print(a.union(b))#union
print(a^b)#a only and b only but not in both(symmetric difference)
print(a.symmetric_difference(b))#a only and b only but not in both(symmetric difference)

{'b', 'a', 'd', 'c'}
{'s', 'r', 'q', 'p'}
{'b', 'a', 'd', 'r', 'c'}
False
True
{'b', 'a', 'd', 'r', 'c', 'e'}
set()
{'b', 'a', 'd', 'c', 'r', 'e'}


{'e', 'a', 'd'}
{'e', 'a', 'd'}
{'a', 'e'}
{'a', 'e'}
{'a', 'd', 'e'}
{'c'}
{'c'}


{'c', 'd', 'e'}
{'c', 'd', 'e'}
False
True
True
True
False


{'b', 'a', 'd', 'r', 'c'}
{'a', 'm', 'c', 'z', 'l'}
{'b', 'r', 'd'}
{'a', 'c'}
{'a', 'c'}
{'b', 'a', 'd', 'r', 'm', 'c', 'z', 'l'}
{'b', 'a', 'd', 'r', 'm', 'c', 'z', 'l'}
{'b', 'z', 'd', 'r', 'm', 'l'}
{'b', 'z', 'd', 'r', 'm', 'l'}

# <span style="color: green;">Number operation</span>

In [64]:
#PEMDAS
'''
P:()
E:**
M:*
D:/
A:+
S:-

'''
print(10/3)#any type of operation with division will return a float output
print(10.0//4)#if any operands are float then output also float
print(int(4.5))#integer part of given number
print(float(4))#type conversion
print(round(3.9))#rounded numbers are integers
print(round(3.4))

print("\n")

#Bitwise operators
y=5;z=3
print(y&z)# binary and
print(y|z)# binary or
print(y^z)# binary xor
print(~y)#binary negation      #short cut -(y+1)
print(y<<1)# shift left by 1   #101.000:-1010.000
print(y>>2)#shift right by 2   #101.000:-1.000

3.3333333333333335
2.0
4
4.0
4
3


1
7
6
-6
10
1

# <span style="color: green;">Tuple operation</span>

In [6]:
month=('January','February','March','April','May','June',\
       'July','August','September','October','November ','December');print(month)# a tuple
years=('2013','2104','2015','2016')
print(month[1:3])
print(month*2)
print(month+years)

('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November ', 'December')
('February', 'March')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November ', 'December', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November ', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November ', 'December', '2013', '2104', '2015', '2016')